[2016-02-22 21:38] joshhornby opened #3 "[Question] Symfony version selection"
I am thinking of using this great resource as a boilerplate for a new project, one question: Is there any reason you require `"symfony/symfony": "3.1.*@dev"` and not a more stable version?

Thanks again for this resource and the blog write up :+1:

[2016-02-23 11:10] nacmartin commented on #3
Ah, that is right. I just started by cloning the master of symfony-standard-edition and that is why the requirement is so harsh, but I think it makes sense to lower the requirements to 3.0, so there are less surprises. I will do it this evening. Thanks!

[2016-02-23 11:13] nacmartin opened #4 "Integration with FOSJsRoutingBundle"
RIght now the routes in React are hardcoded, and that is ugly. We should be able to use [FosJsRoutingBundle](https://github.com/FriendsOfSymfony/FOSJsRoutingBundle) and integrate it into Webpack.

I guess we could require in the Webpack bundles `web/bundles/fosjsrouting/js/router.js` and also load the route `fos_js_routing_js` with a `url-loader`.

[2016-02-23 21:28] nacmartin commented on #3
Here you go: 6494161f78fad6e59a52203d53ec2c5e08745e02

[2016-02-23 21:28] #3 closed

[2016-05-04 02:43] hounded opened #7 "install errors"
Hi I'm new to npm, but looking at your online example it was so fast and smooth, I would really like to use this

I had the following issues
[code]

and then when I tried webpack webpack-dev-server --progress --colors --config webpack.config.js

[code]

Could you point me in the right direction to get started

Many thanks,

James

[2016-05-07 02:25] #7 closed

[2016-05-07 02:27] hounded opened #8 "nacmartin/phpexecjs"
I have read the docs on nacmartin/phpexecjs site,

I couldn't get v8js running as an extension on wamp, however the EXternalRuntime doesn't seem to fire either

as the system is still crashing with
[code]

[2016-05-07 10:43] nacmartin commented on #7
Hi @hounded . Thanks for reporting this! I really wanted to have a look at it but I am out of town for a few days and couldn't find the time. Did it work for you at the end? Is there anything we could add to the docs so other users don't run into the same error?

[2016-05-24 09:22] bartoszmalec commented on #8
I have the same problem. Anyone can help?

[2016-05-24 12:58] nacmartin commented on #8
Mmm. I'll have a look at it. It looks like phpexecjs can't find `node.exe`. I will have to install Windows first, though.

[2016-05-24 14:12] bartoszmalec commented on #8
Yes it's true. i found solution. Tomorrow I will send pull request.

[2016-05-24 14:36] nacmartin commented on #8
Nice! Thanks! Note that there is an ongoing PR for this exact issue: https://github.com/nacmartin/phpexecjs/pull/3/files

I looked at it, but

1. I have to install windows first and I have had two quite busy weeks.
2. I don't like that it tries to look for the binary node.exe in addition to node as if it was a separate engine. If we add more runners (spidermonkey, ...) then every runner will have

[2016-05-24 14:49] bartoszmalec commented on #8
This is exactly the same what I did.

1) I've added node.exe to Runtimer autodetector and changed findBinaryPath method.

[2016-08-02 07:38] AlexandreKilian opened #9 "Assets being loaded from port 8000"
Hello,

I installed the Application straight out of the box according to the docs. For some reason, the assets are being loaded from port 8000 instead of 8080.

Also I get a range of warnings:

[code]

[2016-08-02 07:46] AlexandreKilian commented on #9
I created a pull requests that fix the warnings

[2016-08-02 10:35] #9 closed

[2016-08-02 12:37] AlexandreKilian opened #11 "Redux: Server rendering not working"
Using Redux, the Server rendering isn't working. I get the following error message

[code]

[2016-08-02 12:46] AlexandreKilian commented on #11
I fixed that problem in the same pull request:
https://github.com/Limenius/symfony-react-sandbox/pull/10

You imported the location from the store but tried to use the one from the props instead

[2016-08-04 11:14] nacmartin commented on #8
@bartosz-malec any progress with the PR?

[2016-08-04 11:40] nacmartin commented on #11
Thanks, @AlexandreKilian for the report and the PR :)

[2016-08-04 11:40] #11 closed

[2016-09-02 14:12] ahsanwtc commented on #8
getting the same error. Any fix?

[2016-09-13 14:32] nacmartin commented on #8
Ok, this should be fixed now by https://github.com/nacmartin/phpexecjs/commit/4b95e346f589d5e67bd4ce15cec73ae50eb40a16

[2016-09-13 14:32] #8 closed

[2016-09-17 14:57] nitish24p opened #12 "Role of server-bundle.js"
Hey, just had a doubt, what exactly is the role of the server bundle. Is it possible to do server side rendering without generating this bundle via webpack. Also is this a one time command which i can use for my app, create the bundle and then run things normally, or does this start a node server which acts as a proxy to the symfony app. Could u please explain a bit in detail..

Thanks

[2016-09-22 09:08] cAstraea commented on #8
Having a similar problem I think ?
Not sure why it wants to run phpexecjs from AppData\Local\Temp

getting

[2016-09-28 08:38] nacmartin commented on #8
For the sake of reporting, this should have been fixed by https://github.com/nacmartin/phpexecjs/pull/7

[2016-09-28 08:40] nacmartin commented on #12
hi, @nitish24p server bundle is the code that will be used to do the server rendering. It will probably share almost all the code with your client bundle, but sometimes, specially when using routing in React, you will want a different entry point, like https://github.com/Limenius/symfony-react-sandbox/blob/master/client/Recipes/startup/RecipesAppServer.jsx

[2016-09-29 14:19] Katakeyni opened #13 "Running the server after install"
Hii
I have installed the bundle and after composer install and npm install I got the message **Server bundle not found**.

![capture d ecran 2016-09-29 a 14 08 04](https://cloud.githubusercontent.com/assets/6898114/18957669/79f171ce-864f-11e6-82e1-b6928ba4fd62.png)

I've created the file in app/Resources/webpack but still get the same error. What should I do ?
Thank you

[2016-09-29 22:42] #12 closed

[2016-10-13 14:19] Koalabaerchen commented on #13
The problem comes from nacmartin/phpexecjs and has been fixed in https://github.com/nacmartin/phpexecjs/commit/4b95e346f589d5e67bd4ce15cec73ae50eb40a16

The problem is that there is no release for it yet and the sandbox doesn't like dev-master.

[2016-10-13 17:43] #13 closed

[2016-10-13 17:43] nacmartin commented on #13
There is a release now, and composer.lock has been updated. Thanks for reporting!

[2016-10-25 23:03] ConneXNL commented on #4
Did anyon succesfully combine the 2 yet

[2016-11-22 18:14] willcode4food opened #14 "Enabling Redux Breaks Page Navigation"
When I enabled redux, and then try and navigate to a different page, all I get is the word Loading... and no page content.  A refresh of the browser displays the appropriate content.  I looks like its not making a round trip to the server.

[2016-11-22 18:31] willcode4food commented on #14
Update:  Looks to be something with the conditional statements to that determines whether to show the loading text or not. Checking the props for the boolean fetching (local state) and if a recipe is populated (redux state) could be causing issues.  May want to refactor this to control the loading from the redux state only.  Just my opinion.

In any case, commenting out the loading display logic a

[2016-12-10 21:39] lingorus opened #15 "An exception has been thrown during the rendering of a template ("Something went wrong evaluating JS code: result: "Error: Could not find store registered with name 'recipesStore'. Registered store names include [ ]. Maybe you forgot to register the store?"") in recipe/recipe.html.twig at line 7."
Hello
I'm trying to run redux version but it's not working.
There is a error:
An exception has been thrown during the rendering of a template ("Something went wrong evaluating JS code:
result: "Error: Could not find store registered with name 'recipesStore'. Registered store names include [ ]. Maybe you forgot to register the store?"") in recipe/recipe.html.twig at line 7.

What did I forget?

[2016-12-10 22:05] lingorus commented on #15
Passed rendering option
{{ react_component('RecipesApp', {"rendering": "client_side"}) }}

[2017-01-20 15:44] nacmartin commented on #15
This should have been fixed with last changes, thanks for reporting.

[2017-01-20 15:44] #15 closed

[2017-01-20 17:53] nacmartin commented on #14
Thanks for this report. Sorry for the delay, I wanted to fix this along with a refactor of the Redux part of the app, and also bump some versions (especially React Router). It should be better now!

[2017-01-20 17:53] #14 closed

[2017-01-22 13:13] nblaudez opened #16 "Error after installation"
Hi,

I installed your application.
I ran composer install and npm install but i have this error when i try to reach the home page :+1:

An exception has been thrown during the rendering of a template ("Something went wrong evaluating JS code:
result: "Error: Cannot find module "./recipes-redux/store/recipesStore""").

Someone can help me ?

Best regards

Nicolas Blaudez

[2017-01-22 14:29] #16 closed

[2017-01-22 14:31] nacmartin commented on #16
Thanks for reporting this. The problem was that we were requiring files with the wrong case (`recipesStore` instead of `RecipesStore`), which is something that some filesystems can work with, but in others it is an error. It should be fixed now.

[2017-01-24 17:12] andosteinmetz opened #17 "Documentation: file names/paths changed?"
Under "Globally Expose your React Components," should the  paths `client/js/serverRegistration.js` and `client/js/clientEntryPoint.js` be changed to `cleint/startup/serverRegistration.jsx` and `client/startup/clientRegistration.jsx`?

[2017-01-24 17:17] nacmartin commented on #17
Ah, yes, you are right, I changed them during the weekend and forgot to update the docs accordingly. Thanks for noticing.

[2017-01-24 17:19] #17 closed

[2017-02-04 04:09] tylerm22 opened #18 "Sandbox bug"
Getting an error on install - not sure how to fix or if it is an issue on your end.

`Exception in rendering!

Message: (0 , _reactRouter.createServerRenderContext) is not a function

TypeError: (0 , _reactRouter.createServerRenderContext) is not a function
    at exports.default (/private/var/folders/q_/ws3x7hmn32l49288mlc3ymqc0000gn/T/nacmartin_phpexecjs589553a4f354f5.13490040.js:16725:62)
    a

[2017-02-04 05:31] nacmartin commented on #18
Uhm.. thanks for reporting this! It looks like react-router has renamed ServerRouter into StaticRouter recently ( https://github.com/ReactTraining/react-router/commit/374a6de78d38f0b0458984b6d62ab5a9b06d7e7f ). The example code needs an update. I will do it in the next few days.

[2017-02-04 05:39] tylerm22 commented on #18
Thanks, what's a quick fix I can apply now then? I am building an app off of this

Sent from my iPad

[2017-02-04 20:48] #18 closed

[2017-02-04 20:55] nacmartin commented on #18
Sure, I have updated the examples to reflect their changes. If for whatever reason it happens again, if instead of using npm you use yarn ( https://yarnpkg.com/ ), there is a `yarn.lock` for JS dependencies (pretty similar to what `composer.lock` does), so you can use the exact same versions that the last commit of this library used, so they should be quite ok.

In this case I thought last week th

[2017-02-04 21:03] tylerm22 commented on #18
Cool thank you :)

is there anyway in the future you can add a user element to the tutorial to better show how react can basically do anything.

Thanks :)

[2017-02-05 22:04] nacmartin commented on #18
Do you mean user login/registering/authentication features? I think that it may be too much for the sandbox, that we try to keep as simple as possible and focused on basic React/Webpack integration and not in a full exploration of all the things that can be done. The more features, the more code to maintain and check if there are better libraries for the task from time to time.

But I was ponderin

[2017-02-06 04:06] tylerm22 commented on #18
@nacmartin that'd be good. what i am trying to do is check if_granted in the react code to see if the user can add a recipe or not, but I can't figure out how. Is that needing any additional API parameters?!

[2017-02-07 15:48] tylerm22 opened #19 "Symfony Roles"
i am trying to check if is_granted in the react code to check Symfony roles assigned to a user to see if the user can add a recipe or not, but I can't figure out how. Is there an easy way to do this or will this be needing any additional API parameters?!

[2017-02-07 15:49] tylerm22 commented on #4
Is this still in the works? Would be much easier to work with

[2017-02-08 10:40] nacmartin commented on #4
If someone has a good idea/implementation for this...

[2017-02-08 11:14] nacmartin commented on #19
The React code has no access to the user or security mechanisms of Symfony, as it would be the case in any other API based client, such as iOS or Android apps. You have several options here, like passing as props if the user has a specific role, or use https://github.com/lexik/LexikJWTAuthenticationBundle for authentication, and inspecting the token to check the granted claims... or any other mech

[2017-02-08 11:14] #19 closed

[2017-02-14 08:29] kix opened #20 "Liform action throws a 500"
The exception I get is this:
[code]
Here's a stack trace:
[code]

Also, the `LiformBundle` dep should be bumped due to changes in https://github.com/Limenius/LiformBundle/commit/237908e9d4c92bd1ff450c23c0721914b57a48c6

[2017-02-14 08:33] kix commented on #20
OK, figured it out, this is due to a stale dep as well, must be `0.8.1` because of this: https://github.com/Limenius/Liform/commit/185e6d4c72e334d0d9029da1a81cb3a1a6ded469

[2017-02-14 09:34] nacmartin commented on #20
Thanks for noticing this. Indeed there was a problem with the tags. I have now updated composer.json and .lock files to require a new v0.8.3 tag

[2017-02-14 09:34] #20 closed

[2017-02-16 08:40] mablae opened #24 "How to handle authentication?"
I am wondering how authentication using JWT webtokens would look in a isomorphic app.

I could try to create an example as a PR if we can agree on a basic flow as this is very common topic.

[2017-02-16 08:42] mablae opened #25 "Update to react-on-rails 6.6 when ready"
This will basically use `<script>` tags instead of hidden `<div>` to transfer state into views.

See this PR: https://github.com/shakacode/react_on_rails/pull/660

[2017-02-16 13:04] tylerm22 commented on #24
A basic user flow could be:
- username
- password (sh1)
- email
- isValidated
- isEnabled
- isOnline
- roles (table connection)
- fname
- lname
- profilePic
- joined
- updated
- lastOnline
- ips (table of all ips)
- medium (web/mobile)

Tyler

On Thu, Feb 16, 2017 at 3:40 AM, Malte Blättermann <notifications@github.com

[2017-02-16 13:13] mablae commented on #24
Thanks @tylerm22 - But I meant more the session / login process and server side rendering aspects of it. Not how to model a user.

[2017-02-16 14:34] tylerm22 commented on #24
Well an idea is to utilize a session key and then check that the session
key is still active in the table. That way it would use the randomly
generated session key as a means of checking if the user session is valid
and active.

Tyler

On Thu, Feb 16, 2017 at 8:13 AM, Malte Blättermann <notifications@github.com

[2017-02-17 15:09] avg0043 opened #26 "webpack-dev-server hot reload not working"
Hi,
I have cloned the project and I run it using the following commands:

1. npm run webpack-serverside
2. npm run webpack-dev
3. bin/console server:start

After this, I visit http://localhost:8000/ and shows the web perfectly.
Problem comes when I change a Javascript file:

1. Terminal doesn't rebuild this change
2. And the change doesn't appears on browser

Why **hot-reload** doesn't works? Wher

[2017-02-19 13:31] nacmartin commented on #25
Very interesting, not only the actual code but also all the discussion, thanks! I am watching the thread now and will try to adapt to it asap.

[2017-02-19 13:32] nacmartin commented on #26
Thanks for reporting this. This is interesting, does it recompute the changes, though? I mean, if you reload manually the page the changes in JS are reflected? can you tell me a bit more about your OS, browser so I can work on reproducing the error?

[2017-02-19 13:56] nacmartin commented on #24
I think that this is an interesting example, yes. I wouldn't focus as much in particular implementations of users, which is too broad I think, but in a general approach. Users can be as simple as using a memory provider (http://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded) with hardcoded users, and then, if somebody needs something particular, they can always use anothe

[2017-02-20 09:32] avg0043 commented on #26
If I reload manually the page it happens the same, no changes are reflected on browser.
It's really strange because this morning when I have run the project by first time, the changes have been being reflected on browser but when I stop all and run it again, it has come back to the same error.. :(

I'm using Ubuntu 16.04 LTS and Google Chrome Versión 54.0.2840.100 (64-bit).

[2017-02-23 18:09] VictoriaQ commented on #26
Hi! I have just downloaded the project, followed the instructions as you did, and everything works as expected -automatic reload included. They OS I'm using is exactly the same as you. Perhaps you could check if Webpack is behaving correctly for you in some other project... The reason might be something external, not related to the sandbox.

I'm closing this because I cannot reproduce it, but if s

[2017-02-23 18:09] #26 closed

[2017-02-27 12:41] nacmartin commented on #24
Ook, I made some progress. Now the form is about editing recipes, so this means that there is an example of file uploading. In fact image uploading with Validation Constraints working.

With this, the "liform" section could be transformed into some kind of mini-admin app, where to do the auth work.

[2017-02-27 17:59] tylerm22 commented on #24
Cool, is there anyway you can add the user authentication or some sort of example roles system to the sandbox? I think React would be much better in achieving the goal of real-time user-session checking.

[2017-02-27 18:01] nacmartin commented on #24
Yes, but in order to have an example of authentication I wanted an example of something to secure, and I was unhappy with the current example. I thought that it made more sense to have a public "recipes" page plus and small admin. Thus I have done that admin now. Next step is to secure it.

[2017-02-27 18:06] tylerm22 commented on #24
Ok cool! Hopefully with that example, in addition to user rendering, I can morph the form into something like a user-edit page in an admin site.  Will you also be including in the user/roles integration a way to add a role/roles to a user? Also a (request) is to have the app send out realtime notifications without reloading the page and have it auto-send an activation email, etc.

[2017-03-06 03:14] tylerm22 opened #27 "issue with url"
http://i.imgur.com/OusyMq0.png

just made a recipe in liform and i am getting an error when trying to view the recipe...

[2017-03-06 19:21] #27 closed

[2017-03-06 19:22] nacmartin commented on #27
Thanks for noticing this, @tylerm22 . Indeed, I changed the routes to use `id` instead of `slug` and I broke some things :S

[2017-03-07 01:27] tylerm22 commented on #27
np!

[2017-03-07 01:28] tylerm22 commented on #24
hows this going??

[2017-03-09 13:12] mablae commented on #24
@tylerm22 Where is your PR? I coudn't find it 😄

[2017-03-24 14:32] MichaelHindley opened #28 "Documentation example not working"
Hello,

when following the documention in README.MD, when getting to the command `npm run webpack-serverside`, npm errors out with `Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.  - configuration.output.path: The provided value "./app/Resources/webpack/" is not an absolute path!
`

See screenshot below.

![screen shot 201

[2017-03-25 08:49] #28 closed

[2017-03-25 08:51] nacmartin commented on #28
Thanks for reporting this, @MichaelHindley!

Webpack config doesn't accept relative paths anymore. Fixed.

[2017-03-30 20:19] nacmartin commented on #25
Ok, this change has finally been merged! https://github.com/shakacode/react_on_rails/pull/775

[2017-04-07 07:21] luchianenco commented on #4
I do it like this:
in webpack.config.babel.js

`
const setup = {
  resolve: {
    alias: {
      'FosRouter': path.resolve('./web/bundles/fosjsrouting/js/', 'router.js'),
      'FosRoutes': path.resolve('./src/AppBundle/Resources/public/js/util/lib/', 'fos_js_routes.js')
    },
    modules: [
      path.resolve('js'),
      'node_modules'
    ]
  }
....
`
module.exports = setup;

then in react - c

[2017-04-08 14:38] #25 closed

[2017-04-19 17:53] robertodormepoco opened #29 "Remove the hardcoded base_url for webpack asset package"
As stated in the doc in [AppKernel.php](https://github.com/Limenius/symfony-react-sandbox/blob/master/app/AppKernel.php#L56) there is a conditional/hardcoded value for the base_url as stated in the issue title, this is not ideal if we want to develop using virtualhosts like in a virtualized environment, it will be better to handle this during the bundle configuration and leave the user to set the

[2017-04-28 11:39] SofiaGR opened #30 "Events Handling"
First of all, thanks for this bundle.

I recently integrated it with a symfony project and managed to render a few areas of the app using react and the exact structure this example follows, but I ran into an issue that I assume is related to react rendering on server side (it's using the default: both).

Whenever I tried to add even an onClick listener, once the page is rendered nothing will happe

[2017-05-03 12:55] SofiaGR commented on #30
Nevermind, I figured out by searching through this repository where I had to include the client-bundle.js file.

[2017-05-03 13:15] nacmartin commented on #30
Oh, sorry for not answering before. I had this on my TODO-list but couldn't find the time :/.

Thanks for reporting this. Do you think that the documentation could be improved somehow so it can help other users in the same situation?

[2017-05-03 19:16] SofiaGR commented on #30
This Twig function, provided by ReactBundle, will render the React component RecipesApp in server and client modes. <-- this part of the documentation makes it seem that's all you need, but in reality, if you don't include the client-bundle.js file (and in my case the app kernel webpack part), it would never render anything in the client side.

I'd say perhaps mention that in line 54 in the https:

[2017-05-05 08:44] ralmeidaLink opened #31 "DB modifications not refreshing object"
I'll explain the process starting in the beginning of all hoping to get an answer.

First of all, can I get a more specif explanation about the server-side and client-side? For my readings till here, doesn't react render views? If so, why having a server side?

Then, a more concrete example about this project. I can install it with no problems and also run it. After I run it. When I first enter th

[2017-05-05 13:26] nacmartin commented on #31
Hi, I read the issues posted here. Note that there is no need to write me to my personal email with a duplicate of the issue, as I already receive these notifications by email.

I am working now, I'll try to allocate some time to answer properly later on, or during the weekend.

Anyways, you tell me in your email that you are starting with React. Note that there is no need to use this sandbox, bun

[2017-05-28 16:17] nacmartin commented on #31
I have trying to reply the bug, but I cannot. The only thing that may be confusing is that when you go back to the home page, the results are added at the end (there is no sorting applied to the underlying doctrine queries). It would be interesting to know if the new objects are added to the database or not, to be able to find the cause of your problem.

[2017-06-09 13:19] #31 closed

[2017-06-11 18:16] #30 closed

[2017-06-11 18:21] #29 closed

[2017-06-11 18:21] nacmartin commented on #29
Thanks @robertodormepoco! I have included your suggestion.

[2017-06-19 18:49] acantepie opened #33 "Error occured when execute npm run webpack-dev"
Hello,
I am trying to run project on ubuntu but i have the following error :
(npm version:  5.0.3, node version: v8.0.0)

[code]

[code]

and finally `An exception has been thrown during the rendering of a template ("Asset manifest file "/home/acantepie/Workspace/symfony-react-sandbox/web/build/manifest.json" does not exist.").` when i request http://127.0.0.1:8000/

Here my npm debug log : https:

[2017-06-19 21:45] #33 closed

[2017-06-19 21:47] nacmartin commented on #33
Ooops, I was adapting this project to use webpack encore and forgot to change one line, to make the command `npm run webpack-dev` _actually_ use encore. I have just fixed it. it should work now, thanks for reporting this, @acantepie .

[2017-06-20 16:55] acantepie commented on #33
Thx for help,
It solves the problem but i have an other error :
[code]

[2017-06-20 19:14] nacmartin commented on #33
Now this error is very weird. I cannot reproduce it (just tried with a fresh clone), and this same command was working for you in the first message, and I didn't touch anything that can affect it in between your messages.

[2017-06-20 20:02] acantepie commented on #33
I have reinstalled node module with yarn and it works. :) I have the error only when i use npm to install depdency.

But i have a 500 on website :
`An exception has been thrown during the rendering of a template ("Notice: Undefined index: props")`
[code]

Error seems throw from "ReactRenderExtension.php" at line 90 when code trying to access to an undefined 'props' attribute :
[code]

Do you have

[2017-06-20 20:30] nacmartin commented on #33
Ah, just was checking. Sorry for this one. It seems like it was installing v0.13.0 of the bundle instead of v0.13.1, which fixes this

[2017-06-27 18:32] nacmartin commented on #24
Hi, I have secured the "admin" part with JWT tokens. It is mostly an example about how to handle it with server side rendering, as without would be just regular use of JWT.

The admin page now, if the user is not yet authenticated, shows a login form in a React component. The Symfony controller knows about this, so it is not providing sensitive data such as the list of recipes in the html of the p

[2017-06-27 18:32] #24 closed

[2017-07-13 04:17] grimpows opened #34 "Production is not working (fixed on my own repo)"
i working on a symfony project (was on 2.8) since some month now, and wanted to do one with React.
now i have created a 3.3 project (because asset manifest.json is only handled in 3.3)
succefully installed your ReactBundle and configure to get a working SSR, But while trying production result i got a cannot call function of undefined (only on prod)
to get a prod app.js you have to add this script

[2017-07-13 04:46] grimpows opened #35 "start npm in windows (fixed)"
another issue for launching npm comand in window, in your package.json, you should use
"babel-loader": "7.0",

instead of ^7.0.0,

version above 7.0 throw an error with a path undefined.

[2017-07-13 05:22] grimpows opened #36 "eslint ^4.x isnt suported by babel-eslint"
you should downgrade eslint requirement from ^4.0.0 to "^3.19.0" since 4.x isnt suported by babel-eslint
see https://github.com/babel/babel-eslint#supported-eslint-versions
using 4.x throw an error

[2017-08-09 10:02] #35 closed

[2017-08-09 10:02] #36 closed

[2017-08-09 10:03] nacmartin commented on #35
Thanks for reporting this, it should be fixed now.

[2017-08-09 10:04] nacmartin commented on #36
Ok, thanks, locked to these versions.

[2017-08-09 10:07] grimpows commented on #36
you're welcome, your react bundle is really awesome ^^ really helped me to create a symfony/react project, dont really understand how you was using react on rail on symfony but that's rock !

[2017-08-09 10:12] grimpows commented on #36
if i also can do a sugestion, i saw you speak about how to remove harcoded routes from symfony to react, my project use only one routes for react who is
''''
react_root:
    path:     /
    defaults: { _controller: SWReactBundle:React:index}

react_homepage:
    path:     /{slug}
    defaults: { _controller: SWReactBundle:React:index,  slug: default}
    requirements:
        slug: '.+'

''''

i s

[2017-08-09 10:19] #34 closed

[2017-08-09 10:20] nacmartin commented on #34
I have just switched the project to use babel-preset-env, so it should fix the es2017, es2015 mismatches, or at least ease it. I have also removed a lot of dependencies, that, as you say, are included now in webpack-encore.

[2017-08-09 10:22] nacmartin commented on #36
Thanks! I will have a look at this solution. We definitely need a solution to integrate Symfony routing in the client side.

[2017-08-09 10:25] grimpows commented on #36
i can truly explain much more better how i do that, but in fact, i can add any route in a second with this solution, i'm going to make a true manager with symfony where i'll be able to call it to add new route from any bundle, the manager then will be call in the controller and send all route added from anywhere, of course components called for route should be all imported from the ```` import  *

[2017-08-09 10:33] grimpows commented on #36
also note that routes are imported in a router declaration like you do in the react sandbox
here is the code with the routes imported
[code]

[2017-08-10 08:01] htulipe opened #37 "Unused file?"
The file `client/js/clientEntryPoint.js` is referenced only by documentation. Am I correct to assume it is to be ignored? My understanding is that the only file used (both as server and client bundle) is `client/js/entryPoint.js`

Great work on this bundle!

[2017-08-12 12:14] grimpows commented on #4
@luchianenco how do you get window working in SSR ?
i'm using a dynamic route handling, you can saw an little exemple in react-router doc
https://reacttraining.com/react-router/web/guides/server-rendering/data-loading
using a array of route object sending from symfony, this array is actualy writed by hand but i'll make a manager to dynamicaly add a route from any bundle by using service (actually

[2017-09-08 11:11] #37 closed

[2017-09-08 11:11] nacmartin commented on #37
Thanks @htulipe , indeed you are right. Fixed.

[2017-10-23 15:25] tato11 opened #39 "Problem with static routing "Invariant Violation: Browser history needs a DOM""
I'm trying to make server rendering work on Symfony applying this example "https://github.com/Limenius/symfony-react-sandbox/blob/master/client/js/recipes/startup/RecipesApp.js" but is just not working on server rendering... I'm not sure it it something with my environment or it is an outdated example with old log, could you help me to make this work?

Here is the code I am using right now:

[code

[2017-11-06 09:22] acidjames commented on #4
@luchianenco here is an alternative solution from @weaverryan

https://github.com/symfony/webpack-encore/issues/97#issuecomment-315757285

[2017-11-06 09:25] luchianenco commented on #4
@acidjames this is a nice tool, but in April it was not yet published ;)

[2017-11-06 16:47] nacmartin commented on #39
I just cloned the sandbox, installed the dependencies, and worked.

From what you say, it looks like when you are rendering serverside, it is using `BrowserRouter`, that will fail. In your code I see that you are getting the variable `serverside` from context and conditionally using a router or other, and that should work, but it doesn't. I'd inspect the value of `serverside` to see what is going

[2017-11-08 09:50] BernardA opened #42 "location of webpack output path/directory structure"
Hello
I am surely missing something, but I cannot find the output path stated in both webpack.config.js and webpack.config.serverside.js
The files are supposed to be at `web/build/` and `app/Resources/webpack/`respectively, but no such directories exist in the repository.
Also, I am following the 'standard' webpack encore directory structure, with an `assets` and another  `node-modules` directorie

[2017-11-09 15:54] #42 closed

[2017-11-09 16:04] nacmartin commented on #42
@BernardA what was happening? Can we add something to the docs to make it clearer to other users?

[2017-11-10 16:03] BernardA commented on #42
@nacmartin, thanks for getting back to me.
Actually it's mostly lack of experience with github. I was expecting to see the directories already populated by webpack.
It would probably be helpful to inform that one should add Symfony's 'vendor' directory which is not included.
When I downloaded the repository I finally managed to get it to work. I still have to understand the whole thing and transpl

[2017-11-16 09:14] sufius commented on #28
Hello,

I've tested the example and its working fantastic, but unfortunately not on my smartphone (Android 6).

See screenshot below.

![screenshot_2017-11-16-09-53-41-624_com android browser](https://user-images.githubusercontent.com/1421570/32883117-c30d4bc4-cab6-11e7-9bfb-9daad3405ff4.png)

[2017-11-16 12:32] nacmartin commented on #28
This is an urelated issue, right? I mean, the original issue has nothing to do with this one. Or am I missing anything?

If this is the case, could you open a separate issue?

[2017-11-16 14:59] sufius opened #43 "Example not working on Android 6"
Hello,

I've tested the example and its working fantastic, but unfortunately not on my smartphone (Android 6).

See screenshot below.

![screenshot_2017-11-16-09-53-41-624_com android browser](https://user-images.githubusercontent.com/1421570/32897905-0cfa04f4-cae7-11e7-9e24-986bc216be6f.png)

[2017-11-16 18:41] BernardA opened #44 "setup liform bundle without redux?"
Hi

I noticed that your Liform setup includes redux, which adds an undesirable layer of complexity for a noob like me. Will it work without redux?

The  same issue of complexity avoidance  applies to JWT. Can it just be taken out?

I did manage to have the sandbox work locally, by the way. The question is now how to transplant it to my project.
Thanks

[2017-11-17 12:50] #44 closed

[2017-11-18 13:05] nacmartin commented on #43
If you are seeing the project correctly in a browser, but not in an android device, the problem, from what I see (not loading js/css assets) is that android cannot reach the port of your localhost from where Webpack is serving the assets.

This has nothing to do with this particular sandbox, it is a detail of a particular development set up.

[2017-11-18 13:05] #43 closed

[2017-11-18 13:06] #39 closed

[2017-11-27 13:39] BernardA opened #45 "PhpExecJs: Cannot autodetect any JavaScript runtime"
Hi
I installed PhpExecJs with

, but whenever I set  the config default_rendering for server_side rendering or both it throws the error above.

It works with client_side rendering only ( with other issues, but that's something for later ).

Are there any other steps that should be taken for it to recognize PhpExecJs? I read through the PhpExecJs's documentation on Github but could not find anythin

[2017-11-28 12:30] nacmartin commented on #45
Basically if it installed and enabled, it is available and should be detected.

Phpexecjs is simply calling `extension_loaded('v8js');` to check if it is installed. So, this in your case must be throwing "false".

https://github.com/nacmartin/phpexecjs/blob/master/src/Nacmartin/PhpExecJs/Runtime/V8jsRuntime.php#L43

Can you check that `phpinfo();` shows that the extension is indeed enabled? someti

[2017-11-28 17:15] BernardA commented on #45
It seems that there is no V8 extension installed. I use MAMP and could not find it there. Also it does not seem to be trivial to install it on MAMP, or even in Mac as such. I still haven't found how to do it.

While I don't have v8js, I attempted to run the program setting config.yml with external_server.

**Both on my project and on the sandbox** I got the following error:

`An exception has been

[2017-12-11 15:05] nacmartin commented on #45
Thanks, @BernardA. I will have a look at the external server. Just FYI this branch ( https://github.com/Limenius/symfony-react-sandbox/tree/symfony4 ) , that should be "master" in short time, uses a new version of React Bundle that has caching support for V8js, which makes it faster in production.

[2017-12-11 15:09] BernardA opened #46 "form html output on page not same as schema"
The form html is not taking into account placeholders and also it is not following set order on EntityType field.

This is working correctly in 'plain' Symfony.

The specific form field:

`

    class AdType extends AbstractType
    {
    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        $builder
            ->add('model', EntityType::class, array(

[2017-12-14 23:21] nusje2000 opened #47 "windows “EPERM: operation not permitted” on build directory"
Hi there, I'am trying out this repo but after a few builds on windows the build directory becomes unreadable, has anyone encountered this issue before or does someone have a fix for this problem (restarting fixes the problem but is annoying to do). Question can also be found on https://stackoverflow.com/questions/47823569/symfony-encore-windows-eperm-operation-not-permitted

[2017-12-14 23:36] nusje2000 commented on #47
EDIT: I was using docker to run my project. when I halted docker, I was able to remove the build file.

[2017-12-14 23:36] #47 closed

[2017-12-15 09:30] nacmartin commented on #47
🤔 HI, @nusje2000, is there something we could fix or add to the docs to prevent this? If I try to run this sandbox from docker, will I find the error right away or is it something specific from your environment?

[2017-12-19 11:11] nacmartin commented on #46
Ok, thanks for this report. I have opened an issue on its library (this is a sandbox with examples of usage of these libraries).

Regarding placeholders, there were complains saying that placeholders shouldn't be default choices, so it was removed in a recent version. There must be room for improvement here though. https://github.com/Limenius/Liform/issues/17

[2017-12-19 11:11] #46 closed

[2017-12-22 09:00] nusje2000 commented on #47
Hi @nacmartin, I don't think it has something to do with my environment. I think is has something to do with docker om windows. When I run the exact same project on linux (Ubuntu / Debian) it works fine but on windows it seems to fail after a the third to fourth time compiling.

[2018-01-02 19:44] omarsoufiane opened #48 "webpack plugin"
would it make sense to add a webpack plugin
on serverside webpack config, then render twig templates from a react single page dynamically
`new HtmlWebpackPlugin({template: './src/index.twig.html'})`
the purpose would make migration from existing twig website easy without many backward compatibilities

[2018-01-03 06:07] omarsoufiane commented on #48
sorry it doesn't make sense , the problem would be to register it for client side routing as an iframe

[2018-01-03 06:07] #48 closed

[2018-01-24 20:44] equistx opened #49 "Load fixtures exception"
While I was following "How to run it" in `readme.md` (SF3 branch - clean cloned repo) I've encountered an exception when executed command `php bin/console hautelook:fixtures:load` .

Issue hofixed by replacing `description`'s value (`<paragraph()>`) with empty string inside `recipes.yml`.

[2018-02-09 10:56] Destroy666x opened #50 "[Question] Running this on Docker + nginx"
Hello,

I'm a back-end developer inexperienced when it comes to webpack and React. I have set up a Docker compose file with 3 containers: db, nginx and app. In app I'm running supervisor which then runs `php-fpm`, `yarn run webpack-serverside` and `yarn run webpack-dev`. The nginx configuration is more or less standard Symfony 4 one from documentation.

What's working: Symfony + server-side render

[2018-02-23 13:56] DangerLifter opened #51 "npm errors when install"
Fresh installation outputs "WARN"s, and later list returns lot of errs.

[code]

[code]
[code]

[2018-03-08 07:50] tripfeza opened #52 "Usage with homestead"
Hi I want to host this using Homestead, what foilder should I point to?

[2018-04-11 18:39] omarsoufiane commented on #50
Did you manage to install v8js extension on docker PHP ? @Destroy666x

[2018-05-17 15:08] LoicGoyet opened #53 "Cannot run SSR with the "external_server" mode"
Hello,
I am tying to run the project with server side rendering with the "external_server" mode (I am running the `symfony3` branch).

So I modified the `mode` parameter from the `limenius_react` config to `"external_server"` and then I prompt the command `(cd ./app/Resources/node-server && node server)` to run the node server. But server don't start and throw this error :

[code]
I don't know rea

[2018-06-05 13:12] LoicGoyet commented on #53
I found out a way to make it work ! You can checkout what I did on [this PR](https://github.com/Limenius/symfony-react-sandbox/pull/54)

[2018-06-05 13:12] #53 closed

[2018-08-30 15:53] sufius opened #57 "Howto apply jss server side styles to the base index.html file"
Could you please provide an example or explain how to apply the following guide to your example app?

[https://material-ui.com/guides/server-rendering/](https://material-ui.com/guides/server-rendering/)

In that guid

[code]

is added to server sides base html file (in order to avoid flickering) and by this:

[code]
removed during client side execution.

How to accomplish this with your boilerplat

[2018-08-31 22:52] #57 closed

[2018-09-03 17:08] nacmartin commented on #57
:DD Thanks, @sufius , very appreciated

[2018-12-06 14:15] nacmartin commented on #51
Thanks for the report. From time to time I update the packages, make sure that this is working with everything... the current version doesn't have these problems, so I am closing this issue.

[2018-12-06 14:15] #51 closed

[2018-12-06 14:16] nacmartin commented on #52
I don't know, I don't use it. I am closing this issue because there is no activity, but if someone has an idea about this, please don't hesitate to respond.

[2018-12-06 14:16] #52 closed

[2018-12-06 14:17] nacmartin commented on #50
I am closing this because lack of activity. If someone is running a similar setup, please don't hesitate to respond.

[2018-12-06 14:17] #50 closed

[2019-05-10 15:32] WictorT opened #58 "Client side only error"
I get an error when I switch to `client_side` in file `limenius_react.yaml`. `both` and `server_side` works well.

![image](https://user-images.githubusercontent.com/16436713/57538823-de432b80-7351-11e9-9979-49ca0f90c147.png)

Thank you.

[2019-10-23 15:29] nacmartin commented on #58
Thanks for the report, fixed in fb91257

[2019-10-23 15:29] #58 closed

[2020-02-29 02:27] Gausoft opened #63 "[Question] : How could I create pwa with this approach?"

[2020-05-01 19:32] Zt-freak opened #65 "the requested PHP extension intl is missing from your system"
Hello, I'm not that good with PHP and I've tried searching for a solution, but it seems I can't figure it out. If you have time, could you please help me out, thank you <3.

When I `composer install` I get the following message:
[code]

[2020-06-21 17:22] MateoWartelle commented on #65
Not ideal, but was getting the same error and was able to get it running with

`composer install --ignore-platform-reqs`

[2020-06-22 07:41] Zt-freak commented on #65
o thanks, it works!

[2020-06-22 07:41] #65 closed

[2020-06-22 08:00] jdreesen commented on #65
The solution is named in the message:

You have to modify this file `C:\xampp\php\php.ini` to enable the needed extension.
There should be the following line `;extension=php_intl.dll` (somewhere in the middle of the file). Remove the leading `;` to enable the extension. Then it should install.

`--ignore-platform-reqs` is **dangerous** (if you don't know what you're doing), because it installs the

[2020-06-29 08:00] Zt-freak commented on #65
thanks, I'll be using that.

[2021-02-03 12:27] art-cg opened #77 "Demo is not working"
Hi. The Details pages of the demo are not working.
I am not sure if you are working on it right know.
Because first (3 min ago) i got a blank page and just a console error.
Now i get an Symfony Stacktrace.

http://symfony-react.limenius.com/recipe/1

**Return value of Limenius\ReactRenderer\Twig\ReactRenderExtension::jsonDecode() must be of the type array, object returned**

###

_in src/Controlle